.icon{
    font-size: 40px;
    position: relative;
}
.icon + span{
    position: absolute;
    top: 80px;
    right: 90px;
    width: 30px;
    height: 30px;
}
.cartTab{
    max-width: 400px;
    background-color: #F5FFFA;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    
}
.quantity span{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: green;
    color: white;
    /* font-size: 15px; */
    padding: 5px;
}