body{
    background-image: url(../images/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.login{
    background-color: rgb(196, 201, 201);
   max-width: 900px;
}
.text{
    background-color: aliceblue;
}