body{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background-image: url(../images/back2.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.wrapper{
background-color: #d6d2d1d3;
height: 100vh;
/* width:max(20%,600px);  */
color: #060706;
/* depends on which value is bigger */
}
@media screen {
    
}