body{
    font-family: "Poppins", sans-serif;
    /* min-height: 100vh; */
    background-image: url(../images/back2.jpg);
    background-size: cover;
    background-position: top;
    overflow: hidden;
}
.wrapper{
background-color: antiquewhite;
height: 100vh;
width:max(40%,600px); 
/* depends on which value is bigger */
}