body{
    background-image: url(../images/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
min-height: calc(100vh - 120px);
}

.login{
    background-color: rgba(235, 226, 214, 0.326);
 max-width: 500px;
 border: solid;
 border-color: rgba(240, 248, 255, 0.301);
 margin-top: 120px !important;
}
.input-group.error input{
    border-color: ;
}
